.content {
    width: 95%;
    margin: 0 auto;
    /* min-width: 769px; */
    display: flex;
    justify-content: space-between;
}

.review__guide{
    width: 40%;
    margin-top: 70px;
    height: 60%;
    border-right: 1px solid #B7B7B7;
}
.review__guide__ttl{
    width: 70%;
    margin: 0 auto;
}
.review__guide__txt{
    text-align: left;
    font-size: 30px;
}
.index__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.index__card {
    max-width: 350px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;

}
.card__img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card__content {
    padding: 15px 25px;
}

.card__content-ttl {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}
.card__content-tag {
    font-size: 14px;
    text-align: left;
}
.card__content-tag-item {
    display: inline-block;
}
.card__content__form {
    margin-right: 20px;
}
.card__button {
    background-color: #3560F6;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    padding: 5px 10px;
}
.favorites__button {
    height: 100%;
    border: none;
    background-color: white;
}
.card__content__detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


.review__post {
    width: 60%;
    padding: 0 50px;
}
.comment__form{
    width: 100%;
    height: 100px;
}
.comment__form__alt{
    text-align: right;
}

.upload-area__text1{
    font-size:larger;
}
.upload-area__image{
    max-width: 40%;
}
.upload-area {
    margin: auto;
    width: 100%;
    height: 150px;
    position: relative;
    text-align: center;
    background-color: #fff;
    border: 1px dotted rgba(0, 0, 0, .4);
}
.review__post__btn {
    border-radius: 20px;
    margin: 32px auto 0;
    padding: 10px;
    width: 30%;
    display: block;
    background: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.btnera {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.stars span {
    display: flex;
    /* 要素をフレックスボックスにする */
    flex-direction: row-reverse;
    /* 星を逆順に並べる */
    justify-content: flex-end;
    /* 逆順なので、左寄せにする */
}

.stars input[type='radio'] {
    display: none;
    /* デフォルトのラジオボタンを非表示にする */
}

.stars label {
    color: #D2D2D2;
    /* 未選択の星をグレー色に指定 */
    font-size: 30px;
    /* 星の大きさを30pxに指定 */
    padding: 0 5px;
    /* 左右の余白を5pxに指定 */
    cursor: pointer;
    /* カーソルが上に乗ったときに指の形にする */
}

.stars label:hover,
.stars label:hover~label,
.stars input[type='radio']:checked~label {
    color: #3560F6;
    /* 選択された星以降をすべて黄色にする */
}

.upload-area i {
    position: absolute;
    font-size: 120px;
    opacity: .1;
    width: 100%;
    left: 0;
    top: 80px;
}

.upload-area p {
    width: 100%;
    position: absolute;
    top: 200px;
    opacity: .8;
}
.preview__img{
    max-height: 50%;
}

#input-files {
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#submit-btn {
    font-weight: bold;
    margin-top: 20px;
    border-radius: 3px;
    width: 200px;
    height: 45px;
    background-color: rgba(108, 168, 255, .7);
    border: none;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.6);
    opacity: .6;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: rgba(108, 168, 255, 1.0);
}

#submit-btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}
@media screen and (max-width: 480px) {
    .content{
        display: block;
    }
    .review__guide{
        width: 100%;
        border-right: none;
    }
    .review__post{
        width: 100%;
        margin-bottom: 10px;
    }
    .review__post__btn{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .content {
            display: block;
        }
    
        .review__guide {
            width: 100%;
            border-right: none;
            margin-bottom: 20px;
        }
    
        .review__post {
            width: 100%;
            margin-bottom: 20px;
        }
    
        .review__post__btn {
            width: 100%;
        }
}

