.index__content{
    width: 95%;
    margin: 0 auto;
    /* min-width: 800px; */
}

.index__item {
    display: flex;
    flex-wrap: wrap;
    align-items: top
}

.index__card {
    width: 23%;
    margin-right: 1%;
    margin-top: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

/* .index__card {
    width: 350px;
    margin: 10px 0 10px 0px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;

} */

.card__img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card__content {
    padding: 15px 25px;
}

.card__content-ttl {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.card__content-cat {
    padding: 5px 10px;
    background: #008888;
    margin-bottom: 15px;
    display: inline-block;
    /* 要素の文字数に応じて幅が変更されるためにinline-blockを指定 */
    color: #fff;
    font-size: 14px;
}

.card__content-tag {
    font-size: 14px;
    text-align: left;
}

.card__content-tag-item {
    display: inline-block;
}


.card__content__form{
    margin-right: 20px;
}
.card__content__review {
    display: flex;
}
.card__content__form__review{
    margin-right: 0px;
}
.card__button {
    background-color: #3560F6;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    padding: 5px 10px;
}
.favorites__button{
    height: 100%;
    border: none;
    background-color: white;
}
.fas fa-heart{
    size: 14px;
}
.card__content__detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.search__sort{
    border: none;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.search__genre {
    border: none;
    padding: 10px;
    font-weight: bold;
    border-right:  1px solid #bbbaba;
}
.search__region {
    border: none;
    padding: 10px;
    font-weight: bold;
    border-right: 1px solid #bbbaba;
}
.search__keyword__form {
    border: none;
    padding: 10px;
    font-weight: bold;
}
.search__keyword__btn {
    display: inline-block;
    border: none;
    font-size: px;
    position: relative;
    background: #e9e7e714;
    color: #300099;
    /* height: 100%; */
}
.search__keyword{
    flex-grow: 1;
    display: flex;
    background-color: #fff;
}
.search__keyword__form{
    flex-grow: 1;
}

.search__form{
    display: flex;
    flex-direction: row;
    max-width: 60%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    /* background-color: #fff; */
    border-radius: 10px;
    margin-left: 10px;
}


.button1 i {
    color: #0de580;
}
.search{
    display: flex;
    justify-content: flex-end
}

@media screen and (max-width: 768px) {
    .index__card {
        width: 225px;
        ;
    }
                .search {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
        
                .search__form {
                    display: flex;
                    flex-direction: column;
                    margin-left: 0px;
                    margin-top: 10px;
                    box-shadow: none;
                }
        
                .search__region {
                    margin-bottom: 10px;
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                    border-right: none;
                }
        
                .search__genre {
                    margin-bottom: 10px;
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                    border-right: none;
                }
        
                .search__keyword {
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                }
}

@media screen and (max-width: 480px) {
    .index__card {
        width: 100%;
        ;
    }
    .search{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .search__form{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 10px;
        box-shadow:none;
    }
    .search__region{
        margin-bottom: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
        border-right: none;
    }
    .search__genre {
        margin-bottom: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
        border-right: none;
    }
    .search__keyword {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }
}
