.review {
    width: 30%;
    min-width: 500px;
    font-size: 20px;
    margin: auto;
    background-color: cornsilk;
    padding: 20px;
    margin-bottom: 15px;
}

.comment__form {
    width: 100%;
    height: 100px;
    font-size: 20px;
}

.review__button-submit {
    background-color: #3560F6;
    width: 200px;
    padding: 2px 4px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    margin-top: 30px;
}
.shop_review{
    text-align: center;
    margin-top: 30px;
}
.review__img2{
    max-width: 100%;
}